.logo {
    width: 80px;
}

.flex-container {
    display: flex;
    max-width: 1300px;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 15%;
    min-width: 300px;
    margin: 10px;     
}